body{
    margin:0;
    background: #222222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #55d6aa;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.resize {
    float: left;
    padding:10px 0;
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left:  70px;
    padding-top: 23px;

    position: relative;
}

nav a{
    color:#444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    
}

nav a:hover{
    columns: #000000;
}

nav a::before{
    content:'';
    display: block;
    height: 10px;
    background-color: #444;

    position: absolute;
    top:0;
    width: 0%;

    transition: all ease-in-out 250ms;
}


nav a:hover::before{
    width:100%;

}

h4{
    color:purple;
}
h5{
    color: blue;
}
h2{
    color:purple;

}

.game-container{
    width: 500px;
    height: 730px;
    position: absolute;
}

.sky{
    background-color: blue;
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground{
    background-color: brown;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
}
.bird{
    background-color: yellow;
    position: absolute;
    height: 45px;
    width: 60px;
}
.obstacle{
    background-color: green;
    position: absolute;
    height: 300px;
    width: 30px;
}